Source: ros-humble-crane-plus
Section: misc
Priority: optional
Maintainer: RT Corporation <shop@rt-net.jp>
Build-Depends: debhelper (>= 9.0.0), ros-humble-ament-cmake, ros-humble-ros-workspace
Homepage: https://rt-net.jp/products/cranev2/
Standards-Version: 3.9.2

Package: ros-humble-crane-plus
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-crane-plus-control, ros-humble-crane-plus-description, ros-humble-crane-plus-examples, ros-humble-crane-plus-gazebo, ros-humble-crane-plus-moveit-config, ros-humble-ros-workspace
Description: ROS 2 package suite of CRANE+ V2
