Source: ros-humble-crane-plus-gazebo
Section: misc
Priority: optional
Maintainer: RT Corporation <shop@rt-net.jp>
Build-Depends: debhelper (>= 9.0.0), ros-humble-ament-cmake, ros-humble-ament-lint-auto <!nocheck>, ros-humble-ament-lint-common <!nocheck>, ros-humble-controller-manager, ros-humble-crane-plus-description, ros-humble-crane-plus-moveit-config, ros-humble-gripper-controllers, ros-humble-robot-state-publisher, ros-humble-ros-gz, ros-humble-ros2-controllers, ros-humble-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-crane-plus-gazebo
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-controller-manager, ros-humble-crane-plus-description, ros-humble-crane-plus-moveit-config, ros-humble-gripper-controllers, ros-humble-robot-state-publisher, ros-humble-ros-gz, ros-humble-ros2-controllers, ros-humble-ros-workspace
Description: CRANE+ V2 gazebo simulation package
